<h4 class="event-title"><b>{{ eventParty.event.name }}</b></h4>

<div class="event-description">{{ eventParty.event.description|e|markdown }}</div>

<div class="row">
    <div class="col-sm-6">
        {% if eventParty.event.price %}
        <p><b>Цена</b>: {{ eventParty.event.price }}</p>
        {% endif %}

        {% if eventParty.event.duration %}
        <p><b>Длительность:</b> {{ eventParty.event.duration }} мин</p>
        {% endif %}
    </div>

    {% if eventParty.event.contacts.site %}
    <div class="col-sm-6 text-right">
        Сайт: <a href="{{ eventParty.event.contacts.site }}">{{ eventParty.event.contacts.site }}</a>
    </div>
    {% endif %}
</div>
