<div class="container">
    <div class="row">
        <div class="col-sm-12 tab-plan-body">
            {% if eventParty.event.reservationRequired %}
                <div class="alert alert-info reserve-required-alert {% if eventParty.activeOffers()|length or not eventParty.planing %}d-none{% endif %}">
                    <p class="font-weight-bold">Здесь нужно будет занять места. Что нужно сделать:</p>
                    <ul>
                        <li>
                            1. Узнать и предложить свободное время
                            <button class="btn btn-sm btn-primary open-meeting-point-offer"
                                    data-toggle="modal"
                                    data-target="#meetingPointOfferModal"
                                    data-url="{{ path('app_meeting_point_offer', {id: eventParty.id}) }}"
                            >Предложить</button>
                        </li>
                        <li>2. После того, как все примут предложение, останется только позвонить и занять места на выбранное время</li>
                    </ul>
                </div>
            {% endif %}


            {% for activeOffer in eventParty.activeOffers(app.user) %}
                {% include 'eventParty/_meeting_point_offer_alert.html.twig' with {
                    epId: eventParty.id,
                    offerId: activeOffer.id,
                    lines: activeOffer.generateOfferLines
                } %}
            {% endfor %}

            <p class="mb-1">
                <b>Место встречи:</b>
                <span class="plan-place" data-default="Не выбрано">{{ eventParty.meetingOptions.meetingPlace ?? 'Не выбрано' }}</span>
            </p>
            <p>
                <b>Время встречи:</b>
                <span class="plan-time" data-default="Не выбрано">
                    {% if eventParty.meetingOptions %}
                        {{ eventParty.meetingOptions.meetingAt|rusDate }} в {{  eventParty.meetingOptions.meetingAt|date('H:i') }}
                    {% else %}
                        Не выбрано
                    {% endif %}
                </span>
            </p>


            <p class="mb-1 meeting-point-offer-btn-wrapper {% if not eventParty.ready %}d-none{% endif %}">
                <button class="btn btn-sm btn-primary open-meeting-point-offer"
                        data-toggle="modal"
                        data-target="#meetingPointOfferModal"
                        data-url="{{ path('app_offer_mo', {id: eventParty.id}) }}"
                >Предложить</button>
            </p>

            {% set offers = eventParty.offers %}

            <div class="meeting-point-offers-history mb-2 {% if offers|length == 0 %}d-none{% endif %}">
                <a data-toggle="collapse" href="#meeting-point-offers" role="button" aria-expanded="false" aria-controls="meeting-point-offers">
                    Предложения (<span class="meeting-point-offers-history-count">{{ offers|length }}</span>)
                </a>
                <div class="collapse" id="meeting-point-offers">
                    {% for offer in offers|reverse %}
                        {% set offerAccepted = offer.isAccepted %}
                        {% set offerRejected = eventParty.offerRejected(offer) %}

                        {% include 'eventParty/_meeting_point_offer.html.twig' with {
                            offerId: offer.id,
                            color: offerAccepted ? 'green' : (offerRejected ? 'red' : 'inherit'),
                            iconClass: offerAccepted ? 'fa fa-check' : (offerRejected ? 'fa fa-close' : 'fa fa-clock-o'),
                            text: offer.generateOfferLines.point,
                            usersCount: eventParty.peopleComposition.numberOfPeople,
                            acceptedAnswersCount: eventParty.acceptedOfferUsers(offer)|length
                        } %}
                    {% endfor %}
                </div>
            </div>

{#            {% if eventParty.event.cafe %}#}
{#                <div class="plan-near-cafe {% if not (eventParty.ready or eventParty.done) %}d-none{% endif %}">#}
{#                    <p>#}
{#                        Рядом есть {{ eventParty.event.cafe.name }} ({{ eventParty.event.cafe.address }}).<br>#}
{#                        Вы можете встретится там после развлечений и лучше узнать друг дурга#}
{#                    </p>#}
{#                    {% if eventParty.event.pathToCafeYandexMapSrc %}#}
{#                        <script type="text/javascript" charset="utf-8" async src="{{ eventParty.event.pathToCafeYandexMapSrc }}"></script>#}
{#                    {% endif %}#}
{#                </div>#}
{#            {% endif %}#}

        </div>
    </div>
</div>

<div class="d-none plan-templates">
    <div class="meeting-point-offer-alert-template">
        {% include 'eventParty/_meeting_point_offer_alert.html.twig' with {
            epId: eventParty.id,
            offerId: '',
            lines: []
        } %}
    </div>

    <div class="meeting-point-offers-history-template">
        {% include 'eventParty/_meeting_point_offer.html.twig' with {
            offerId: '',
            color: 'inherit',
            iconClass: 'fa fa-clock-o',
            text: '',
            usersCount: eventParty.peopleComposition.numberOfPeople,
            acceptedAnswersCount: '1'
        } %}
    </div>
</div>

<div class="modal fade" id="meetingPointOfferModal" tabindex="-1" role="dialog" aria-labelledby="meetingPointOfferModalTitle" aria-hidden="true">
    <div class="modal-dialog mt-25vh" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title font-size-18px" id="meetingPointOfferModalTitle">Предложить другие данные встречи</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center meeting-point-offer-body"></div>

            <div class="modal-footer meeting-point-offer-footer">
                <button type="button"
                        class="btn btn-primary send-meeting-point-offer"
                        data-url="{{ path('app_offer_mo', {id: eventParty.id}) }}"
                >Предложить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
