{% for media in eventParty.event.media|slice(0, 9) if media.type == constant('App\\Entity\\Media::TYPE_VIDEO')  %}
    <div class="d-none" id="video-{{ media.id }}">
        <video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
            <source src="{{ media.src }}" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
{% endfor %}

<div class="row media-wrapper gallery" id="event-gallery">
    {% for media in eventParty.event.media|slice(0, 9)  %}
        {% if media.type == constant('App\\Entity\\Media::TYPE_IMAGE') %}
            <a class="col-sm-4 media" href="{{ media.src }}">
                <img src="{{ media.src }}"/>
                <div class="gallery-poster">
                    <img src="{{ asset('img/zoom.png') }}" alt="{{ media.alt }}">
                </div>
            </a>
        {% elseif media.type == constant('App\\Entity\\Media::TYPE_VIDEO') %}
            <a class="col-sm-4 media" data-poster="{{ media.videoPoster }}" data-sub-html="video caption1" data-html="#video-{{ media.id }}" >
                <img src="{{ media.videoPoster }}" alt="{{ media.alt }}"/>
                <div class="gallery-poster video-poster">
                    <img src="{{ asset('img/play-button.png') }}" alt="{{ media.alt }}">
                </div>
            </a>
        {% endif %}
    {% else %}
        <div class="col-sm-12 text-center">В галерее пусто</div>
    {% endfor %}
</div>
