{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="vk-auth-info-text">
            <p class="lead">
                Мы поможем вам побывать в новых интересных местах, весело провести время, завести новые связи, друзей, отношения и сделать жизнь ярче
                <img src="https://pic.sopili.net/pub/emoji/twitter/2/72x72/1f609.png" alt=":)" width=20 height=20>
            </p>
            <p class="lead">Как это работает?</p>
            <p>1. Мы находим для вас место развлечения и компанию (например 2 парня и 2 девушки)</p>
            <p>2. Вместе выбираете время и место встречи</p>
            <p>3. Встречаетесь, знакомитесь, веселитесь</p>
            <p>4. После встречи обсуждаете, что вам понравилось, отмечаете тех, с кем было весело и продолжаете общение с теми, кто вам понравился :)</p>
        </div>

        <div class="row text-center">
            <div class="col-sm-12">
                <a class="vk-auth-btn" href="{{ vk_auth_url }}"><i class="fa fa-vk"></i></a>
                <p class="vk-auth-btn-help">Войти через Вконтакте</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('login') }}
{% endblock %}
