<div class="meeting-point-offer meeting-point-offer-{{ offerId }}" style="color: {{ color }}">
    <span class="meeting-point-offers-status-icon">
        <i class="meeting-point-offer-icon {{ iconClass }}"></i>
    </span>
    <span class="meeting-point-offer-text">{{ place }} - {{ meetingDateTimeString }}</span>
    (<span class="meeting-point-offer-accepted-answers-count">{{ acceptedAnswersCount }}</span>/<span class="meeting-point-offer-total-users-count">{{ usersCount }}</span>)
</div>