{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('build/event_party.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="event-party-status">{{ eventParty.currentStatusTitle }}</div>

                <nav>
                    <div class="nav nav-tabs event-party-tabs-wrapper" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-info-tab" href="#nav-info" data-toggle="tab" role="tab" aria-controls="nav-info" aria-selected="true">
                            <i class="far fa-list-alt"></i> Инфо
                        </a>
                        <a class="nav-item nav-link" id="nav-gallery-tab" href="#nav-gallery" data-toggle="tab" role="tab" aria-controls="nav-gallery" aria-selected="false">
                            <i class="fa fa-file-image-o"></i> Галерея
                        </a>
                        <a class="nav-item nav-link" id="nav-contacts-tab" href="#nav-contacts" data-toggle="tab" role="tab" aria-controls="nav-contacts" aria-selected="false">
                            <i class="fas fa-address-book"></i> Контакты
                        </a>
                        <a class="nav-item nav-link {% if not eventParty.filled %}d-none{% endif %}" id="nav-plan-tab" href="#nav-plan" data-toggle="tab" role="tab" aria-controls="nav-plan" aria-selected="false">
                            <i class="fas fa-tasks"></i> План

                            {% set offersCount = eventParty.activeOffers(app.user)|length %}

                            {% if offersCount > 0  %}
                                <span class="badge badge-info">{{ offersCount }}</span>
                            {% elseif eventParty.event.reserveRequired and eventParty.activeOffers()|length == 0 and eventParty.planing %}
                                <span class="badge badge-info">1</span>
                            {% endif %}
                        </a>
                    </div>
                </nav>

                <div class="tab-content nav-block-content-wrapper">
                    <div class="tab-pane fade show active block nav-block" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                        <div class="block-body">
                            {% include 'eventParty/tabs/tab_info.html.twig' %}
                        </div>
                    </div>
                    <div class="tab-pane fade show block nav-block" id="nav-gallery" role="tabpanel" aria-labelledby="nav-gallery-tab">
                        <div class="block-body">
                            {% include 'eventParty/tabs/tab_gallery.html.twig' %}
                        </div>
                    </div>
                    <div class="tab-pane fade block nav-block" id="nav-contacts" role="tabpanel" aria-labelledby="nav-contacts-tab">
                        <div class="block-body">
                            {% include 'eventParty/tabs/tab_contacts.html.twig' %}
                        </div>
                    </div>
                    <div class="tab-pane fade block nav-block {% if not eventParty.filled %}d-none{% endif %}" id="nav-plan" role="tabpanel" aria-labelledby="nav-plan-tab">
                        <div class="block-body">
                            {% include 'eventParty/tabs/tab_plan.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="participants-wrapper">
                    {% for user in eventParty.users %}
                        <a href="{{ user.vkExtension.VkPageUrl }}" target="_blank" class="user-icon-block js-user-icon-block-{{ user.id }} {% if user == app.user %}current-user{% endif %}">
                            <img class="user-icon-img" src="{{ asset(user.avatarPath) }}" alt="Аватар пользователя {{ user.nicknameIn(eventParty) }}">
                            <div class="user-icon-name">{{ user.nicknameIn(eventParty) }}</div>
                        </a>
                    {% endfor %}
                </div>
                <div class="clearfix"></div>

                <div class="block chat-block">
                    <div class="block-body chat-wrapper">
                        <div class="chat-messages-block invisible">
                            {% for message in eventParty.messageHistoryFor(app.user) %}
                                <p>
                                    <b>{{ message.user.name }}: </b>
                                    {{ message.message }}
                                </p>
                            {% endfor %}
                        </div>

                        <div class="delimiter"></div>

                        <textarea class="chat-message-input"
                                  maxlength="{{ constant('App\\Entity\\EventPartyMessage::MAX_MESSAGE_LENGTH') }}"
                                  placeholder="Напишите что-нибудь..."
                        ></textarea>

                        <div class="text-right">
                            <a href="#" class="chat-send-message-btn">Отправить</a>
                        </div>
                    </div>
                </div>

                <div class="row event-party-actions">
                    {% if eventParty.reviews or eventParty.done %}
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-warning w-100">Карта симпатий</button>
                        </div>
                    {% else %}
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#skipModal">
                                Дальше
                            </button>
                        </div>

                        <div class="col-sm-6">
                            <button type="button" class="btn btn-danger w-100" data-toggle="modal" data-target="#leaveModal">
                                Выход
                            </button>
                        </div>
                    {% endif %}

                    <div class="modal fade" id="skipModal" tabindex="-1" role="dialog" aria-labelledby="skipModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-sm mt-25vh" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <p class="modal-title font-size-18px" id="skipModalTitle">Точно дальше?</p>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ path('app_skip_event_party', {id: eventParty.id}) }}" class="btn btn-primary">Дальше</a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="leaveModal" tabindex="-1" role="dialog" aria-labelledby="leaveModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-sm mt-25vh" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <p class="modal-title font-size-18px" id="leaveModalTitle">Точно выйти?</p>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ path('app_leave_event_party', {id: eventParty.id}) }}" class="btn btn-danger">Выйти</a>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="d-none js-data">
            <div id="current-user-data"
                 data-temp-hash="{{ app.user.tempHash }}"
                 data-id="{{ app.user.id }}"
                 data-web-id="{{ constant('App\\Entity\\User::WEB_ID') }}"
            ></div>
            <div id="event-party-data"
                 data-id="{{ eventParty.id }}"
                 data-reserve-required="{{ eventParty.event.reserveRequired }}"
            ></div>

            <div class="load-spinner">
                <div class="spinner-border text-secondary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/event_party.js') }}"></script>
{% endblock %}
