{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/markup.css') }}">
    <link rel="stylesheet" href="{{ asset('css/event_party.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h5 class="text-center">
                    Ожидаем еще 2 игроков <span style="font-size: 12px">(<a class="more" href="#">?</a>)</span>
                </h5>

                <nav>
                    <div class="nav nav-tabs event-party-tabs-wrapper" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-info-tab" href="#nav-info" data-toggle="tab" role="tab" aria-controls="nav-info" aria-selected="true">Информация</a>
                        <a class="nav-item nav-link" id="nav-contacts-tab" href="#nav-contacts" data-toggle="tab" role="tab" aria-controls="nav-contacts" aria-selected="false">Контакты</a>
                        <a class="nav-item nav-link" id="nav-todo-tab" href="#nav-todo" data-toggle="tab" role="tab" aria-controls="nav-todo" aria-selected="false">А что нужно делать?</a>
                    </div>
                </nav>
                <div class="tab-content nav-block-content-wrapper" id="nav-tabContent">
                    <div class="tab-pane fade show active block nav-block" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                        <div class="block-body">
                            <h4 class="text-center event-party-title">{{ eventParty.event.title }} ({{ eventParty.event.city }})</h4>
                            {{ eventParty.event.description }}
                        </div>
                    </div>
                    <div class="tab-pane fade block nav-block" id="nav-contacts" role="tabpanel" aria-labelledby="nav-contacts-tab">
                        <div class="block-body">
                            <p>Номер <i>мобилы +3242342342</i></p>
                            <p>Адрес <i>331, ул. Ильича, Гомель</i></p>
                            <p><img src="https://pzik.ru/uploads/afd3e.jpg" alt=""></p>
                        </div>
                    </div>
                    <div class="tab-pane fade block nav-block" id="nav-todo" role="tabpanel" aria-labelledby="nav-todo-tab">
                        <div class="block-body">
                            <p>1. Вам нужно выбрать время, когда вы сможете пойти.</p>
                            <p>2. Теперь нужно позвонить по номеру, указанному на вкладке "Котакты" и забронировать место для участников</p>
                            <p>3. Встречайтесь в назначенное время и веселитесь!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <p class="participants-number-info">Участники: ({{ eventParty.users|length }}/{{ eventParty.numberOfPeople }})</p>

                <div class="participants-wrapper">
                    {% for user in eventParty.users %}
                        <div class="user-icon-block float-left">
                            <img src="{{ asset(user.avatarPath) }}" alt="Аватар пользователя {{ user.name }}"><br>
                            {{ user.name }}
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>

                <div class="block chat-block">
                    <div class="block-body chat-wrapper">
                        <div class="chat-messages-block">
                            {% for message in messagesHistory %}
                                <p>
                                    <b>{{ message.user.name }}: </b>
                                    {{ message.message }}
                                </p>
                            {% endfor %}
                        </div>

                        <textarea class="chat-message-input float-left" placeholder="Напишите что-нибудь"></textarea>

                        <button type="button" class="btn btn-light float-left chat-send-message-btn">
                            <i class="fas fa-arrow-circle-right"></i>
                        </button>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="row event-party-actions-wrapper mt-4">
                    <div class="col-sm-6">
                        <a href="{{ path('app_skip_event_party', {id: eventParty.id}) }}" class="btn btn-primary w-100">Дальше</a>
                    </div>

                    <div class="col-sm-6">
                        <a href="{{ path('app_leave_event_party', {id: eventParty.id}) }}" class="btn btn-danger w-100">Выход</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-none js-data">
            <div id="current-user" data-temp-hash="{{ app.user.tempHash }}"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/libs/authoban.js') }}"></script>
    <script src="{{ asset('js/event_party/Chat.js') }}"></script>
    <script src="{{ asset('js/event_party/Announcement.js') }}"></script>
    <script src="{{ asset('js/event_party/event_party.js') }}"></script>
{% endblock %}