{% import 'eventParty/_printTimetableMacro.html.twig' as printTimetableMacro %}

<div class="container-fluid text-left">
    {{ form_start(form) }}

    <div class="row">
        <div class="col-sm-4">Место встречи:</div>
        <div class="col-sm-8">{{ form_row(form.place, {attr: {class: 'form-control-sm'}}) }}</div>
    </div>

    <div class="row">
        <div class="col-sm-4">Время встречи:</div>
        <div class="col-sm-4">{{ form_row(form.day, {attr: {class: 'form-control-sm'}}) }}</div>
        <div class="col-sm-4">{{ form_row(form.time, {attr: {class: 'form-control-sm'}}) }}</div>
        <div class="col-sm-12">
            {% set usersDay = eventParty.usersSearchCriteria.day|rusDate %}
            {% set usersTime = eventParty.usersTimeInterval %}

            <div class="help">*Нужно позвонить и узнать, свободно ли это время</div>
            <div class="help">*Подходящее всем время - {{ usersDay }}, {{ usersTime.from|date('H:i')}}-{{ usersTime.to|date('H:i')}}</div>
        </div>
        <div class="col-sm-12 mt-2" id="timetable-info">
            Время работы:
            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#timetable-today" aria-expanded="false" aria-controls="timetable-today">Сегодня</button>
            <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#timetable-tomorrow" aria-expanded="false" aria-controls="timetable-tomorrow">Завтра</button>

            <div id="timetable-today" class="collapse" data-parent="#timetable-info">
                {% for timetable in eventParty.event.timetables.('now'|date('w')) %}
                    {{ printTimetableMacro.print(timetable) }}
                {% endfor %}
            </div>

            <div id="timetable-tomorrow" class="collapse" data-parent="#timetable-info">
                {% for timetable in eventParty.event.timetables('+1 day'|date('w')) %}
                    {{ printTimetableMacro.print(timetable) }}
                {% endfor %}
            </div>
        </div>
    </div>

    {{ form_row(form.rejectedOfferId) }}

    {{ form_end(form) }}
</div>