<div class="container">
    <div class="row">
        <div class="col-sm-12 tab-plan-body">
            {% for activeOffer in eventParty.activeOffersFor(app.user) %}
                {% include 'eventParty/_meeting_point_offer_alert.html.twig' with {
                    offerId: activeOffer.id,
                    epId: eventParty.id,
                    place: activeOffer.data.place,
                    meetingDataText: activeOffer.data.meetingDateTimeString
                } %}
            {% endfor %}

            <p class="mb-1">
                <b>Место встречи:</b>
                <span class="plan-place" data-default="{{ eventParty.event.address }}">{{ eventParty.meetingPlace }}</span>
            </p>
            <p>
                <b>Время встречи:</b>
                <span class="plan-time" data-default="Не выбрано">{{ eventParty.meetingAtString ?? 'Не выбрано' }}</span>
            </p>

            {% set offers = eventParty.offers %}

            <div class="meeting-point-offers-history mb-2 {% if offers|length == 0 %}d-none{% endif %}">
                <a data-toggle="collapse" href="#meeting-point-offers" role="button" aria-expanded="false" aria-controls="meeting-point-offers">
                    Предложения (<span class="meeting-point-offers-history-count">{{ offers|length }}</span>)
                </a>
                <div class="collapse" id="meeting-point-offers">
                    {% for offer in offers %}
                        {% set offerAccepted = eventParty.offerAccepted(offer) %}
                        {% set offerRejected = eventParty.offerRejected(offer) %}

                        {% include 'eventParty/_meeting_point_offer.html.twig' with {
                            offerId: offer.id,
                            color: offerAccepted ? 'green' : (offerRejected ? 'red' : 'inherit'),
                            iconClass: offerAccepted ? 'fa fa-check' : (offerRejected ? 'fa fa-close' : 'fa fa-clock-o'),
                            place: offer.data.place,
                            meetingDateTimeString: offer.data.meetingDateTimeString,
                            usersCount: eventParty.users.count,
                            acceptedAnswersCount: eventParty.acceptedAnswersCountFor(offer)
                        } %}
                    {% endfor %}
                </div>
            </div>

            <p>
                <button class="btn btn-sm btn-primary open-meeting-point-offer"
                        data-toggle="modal"
                        data-target="#meetingPointOfferModal"
                        data-url="{{ path('app_meeting_point_offer', {id: eventParty.id}) }}"
                >Предложить</button>
            </p>
        </div>
    </div>
</div>

<div class="d-none plan-templates">
    <div class="meeting-point-offer-alert-template">
        {% include 'eventParty/_meeting_point_offer_alert.html.twig' with {
            place: '',
            eventParty: eventParty,
            meetingDataText: '',
            offerId: ''
        } %}
    </div>

    <div class="meeting-point-offers-history-template">
        {% include 'eventParty/_meeting_point_offer.html.twig' with {
            offerId: '',
            color: 'inherit',
            iconClass: 'fa fa-clock-o',
            place: '',
            meetingDateTimeString: '',
            usersCount: eventParty.users.count,
            acceptedAnswersCount: '1'
        } %}
    </div>
</div>

<div class="modal fade" id="meetingPointOfferModal" tabindex="-1" role="dialog" aria-labelledby="meetingPointOfferModalTitle" aria-hidden="true">
    <div class="modal-dialog mt-25vh" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title font-size-18px" id="meetingPointOfferModalTitle">Предложить другие данные встречи</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center meeting-point-offer-body"></div>

            <div class="modal-footer meeting-point-offer-footer">
                <button type="button"
                        class="btn btn-primary send-meeting-point-offer"
                        data-url="{{ path('app_meeting_point_offer', {id: eventParty.id}) }}"
                >Предложить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
