{% import _self as func %}

{% macro printTimetable(timetable) %}
    {% if timetable.type == constant('App\\Entity\\Timetable::TYPE_DAY') %}
        {{ timetable.timeFrom|date('H:i') }} - {{ timetable.timeTo|date('H:i') }}<br>
    {% elseif timetable.type == constant('App\\Entity\\Timetable::TYPE_VISIT') %}
        <span class="badge badge-light">
            {{ timetable.timeFrom|date('H:i') }} - {{ timetable.timeTo|date('H:i') }}
        </span>
    {% endif %}
{% endmacro %}

<div class="row">
    <div class="col-sm-6">
        <b>Время работы сегодня:</b>
        <p>
            {% for timetable in eventParty.event.timetables.forWeekDay('now'|date('w')) %}
                {{ func.printTimetable(timetable) }}
            {% endfor %}
        </p>
    </div>
    <div class="col-sm-6">
        <div><b>Телефон:</b> {{ eventParty.event.phone }}</div>
        <div><b>Сайт:</b> <a href="{{ eventParty.event.site }}">{{ eventParty.event.site }}</a></div>
    </div>

    <div class="col-sm-12">
        <div class="timetable-wrapper">
            <a href="#fullTimetable" data-toggle="collapse" role="button">Подробнее</a>

            <div class="collapse" id="fullTimetable">
                <table>
                    {% for day, dayName in constant('App\\Entity\\Timetable::SHORT_WEEK_DAYS') %}
                        <tr>
                            <td><b>{{ dayName }}:</b></td>
                            <td class="pb-3">
                                {% for timetable in eventParty.event.timetables.forWeekDay(day) %}
                                    {{ func.printTimetable(timetable) }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<p><b>Адрес:</b> <i>{{ eventParty.event.address }}</i></p>
