<h4 class="event-title"><b>{{ eventParty.event.title }}</b></h4>

<div class="event-description">{{ eventParty.event.description|e|markdown }}</div>

<div class="row">
    <div class="col-sm-6">
        {% if eventParty.event.priceText %}
            <div class="event-price"><b>Цена</b>: {{ eventParty.event.priceText }}</div>
        {% endif %}
    </div>
    <div class="col-sm-6 text-right">
        Сайт: <a href="{{ eventParty.event.site }}">{{ eventParty.event.site }}</a>
    </div>
</div>
