<h4 class="event-title">{{ eventParty.event.title }}</h4>
<div class="event-description">{{ eventParty.event.description|e|markdown }}</div>
{% if eventParty.event.priceText %}
    <div class="event-price"><b>Цена</b>: {{ eventParty.event.priceText }}</div>
{% endif %}

<div class="row media-wrapper">
    {% for media in eventParty.event.media|slice(0, 6)  %}
        <div class="col-sm-4 p5">
            <div class="media d-inline-block align-middle">
                {% if media.type == constant('App\\Entity\\Media::TYPE_IMAGE') %}
                    <img src="{{ media.src }}" alt="{{ media.alt }}">
                {% elseif media.type == constant('App\\Entity\\Media::TYPE_VIDEO') %}
                    <video controls="controls"><source src="{{ media.src }}" type="video/mp4"></video>
                {% elseif media.type == constant('App\\Entity\\Media::TYPE_IFRAME') %}
                    <iframe src="{{ media.src }}" frameborder="0" allowfullscreen></iframe>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<div class="text-left">
    Сайт: <a href="{{ eventParty.event.site }}">{{ eventParty.event.site }}</a>
</div>
