{% extends 'base.html.twig' %}

{% block title %}Ваш аккаунт{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/fill_user.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    {{ form_row(form.name) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    {{ form_row(form.city) }}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 offset-sm-3">
                    {{ form_row(form.sex) }}
                </div>
                <div class="col-sm-3">
                    <div class="float-right">
                        {{ form_row(form.birthday) }}
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-sm-4 offset-sm-3 abc-checkbox abc-checkbox-primary">
                {{ form_row(form.acceptLicense) }}
            </div>
            <div class="col-sm-2">
                <button class="btn btn-md btn-primary float-right" type="submit">
                    Сохранить
                </button>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/fill_user.js') }}"></script>
{% endblock %}
